MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=skill_dashboard_db
MYSQL_USER=skill_user
MYSQL_PASSWORD=skill_password@12345

JWT_SECRET="Rcis0PRylw6AERPnaiukRwieBDZPsMv3YZOngenfEAXXIBOV8SMmrP3Ax+Xr7n4hUu7WERJ23iafkXYVfnXAGQAB"

BACKEND_IMAGE=us-central1-docker.pkg.dev/YOUR_PROJECT_ID/skill-dashboard-repo/skill-dashboard-backend:v1
FRONTEND_IMAGE=us-central1-docker.pkg.dev/YOUR_PROJECT_ID/skill-dashboard-repo/skill-dashboard-frontend:v1