<section class="skill-section">
  <h2>My Skills - Data From Spring Boot + MySQL</h2>

  @if (isAdmin()) {
  <form
    class="skill-form"
    [formGroup]="skillForm"
    (ngSubmit)="saveSkill()"
  >
    <h3>
      {{ isEditMode() ? 'Edit Skill Using Spring Boot PUT API' : 'Add Skill Using Spring Boot POST API' }}
    </h3>

    @if (successMessage()) {
      <p class="success-message">
        {{ successMessage() }}
      </p>
    }

    @if (errorMessage()) {
      <p class="error-message api-message">
        {{ errorMessage() }}
      </p>
    }

    <div class="form-row">
      <div class="form-control">
        <label for="skillName">Skill Name</label>

        <input
          id="skillName"
          type="text"
          placeholder="Enter skill name"
          formControlName="name"
        >

        @if (nameControl.invalid && nameControl.touched) {
          @if (nameControl.hasError('required')) {
            <small class="error-message">Skill name is required.</small>
          }

          @if (nameControl.hasError('minlength')) {
            <small class="error-message">Skill name must be at least 2 characters.</small>
          }

          @if (nameControl.hasError('maxlength')) {
            <small class="error-message">Skill name cannot exceed 100 characters.</small>
          }
        }

        @if (backendValidationErrors()['name']) {
          <small class="error-message">
            {{ backendValidationErrors()['name'] }}
          </small>
        }
      </div>

      <div class="form-control">
        <label for="skillCategory">Category</label>

        <select
          id="skillCategory"
          formControlName="category"
        >
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="Cloud">Cloud</option>
          <option value="Database">Database</option>
          <option value="DevOps">DevOps</option>
        </select>

        @if (backendValidationErrors()['category']) {
          <small class="error-message">
            {{ backendValidationErrors()['category'] }}
          </small>
        }
      </div>

      <div class="form-control">
        <label for="skillLevel">Level</label>

        <select
          id="skillLevel"
          formControlName="level"
        >
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>

        @if (backendValidationErrors()['level']) {
          <small class="error-message">
            {{ backendValidationErrors()['level'] }}
          </small>
        }
      </div>
    </div>

    <div class="form-control">
      <label for="skillDescription">Description</label>

      <textarea
        id="skillDescription"
        rows="3"
        placeholder="Enter skill description"
        formControlName="description"
      ></textarea>

      @if (descriptionControl.hasError('maxlength') && descriptionControl.touched) {
        <small class="error-message">
          Description cannot exceed 500 characters.
        </small>
      }

      @if (backendValidationErrors()['description']) {
        <small class="error-message">
          {{ backendValidationErrors()['description'] }}
        </small>
      }
    </div>

    <div class="form-actions">
      <button
        type="submit"
        [disabled]="skillForm.invalid || isSaving()"
      >
        @if (isSaving()) {
          {{ isEditMode() ? 'Updating...' : 'Saving...' }}
        } @else {
          {{ isEditMode() ? 'Update Skill' : 'Add Skill' }}
        }
      </button>

      @if (isEditMode()) {
        <button
          type="button"
          class="cancel-button"
          (click)="cancelEdit()"
        >
          Cancel Edit
        </button>
      }
    </div>
  </form>
  } @else {
  <p class="readonly-message">
    You are logged in as USER. You can view skills, but only ADMIN can add, update, or delete skills.
  </p>
}

  <div class="filter-section">
    <h3>Filter Skills From Backend</h3>

    <div class="filter-row">
      <div class="form-control">
        <label for="filterCategory">Category</label>

        <select
          id="filterCategory"
          name="filterCategory"
          [(ngModel)]="selectedCategory"
        >
          <option value="">All Categories</option>
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="Cloud">Cloud</option>
          <option value="Database">Database</option>
          <option value="DevOps">DevOps</option>
        </select>
      </div>

      <div class="form-control">
        <label for="filterLevel">Level</label>

        <select
          id="filterLevel"
          name="filterLevel"
          [(ngModel)]="selectedLevel"
        >
          <option value="">All Levels</option>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>

      <div class="form-control">
        <label for="searchText">Search</label>

        <input
          id="searchText"
          type="text"
          name="searchText"
          placeholder="Search by name, category, level"
          [(ngModel)]="searchText"
        >
      </div>
    </div>
    <div class="filter-row">
  <div class="form-control">
    <label for="pageSize">Page Size</label>

    <select
      id="pageSize"
      name="pageSize"
      [(ngModel)]="pageSize"
      (change)="onPageSizeChange()"
    >
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
    </select>
  </div>

  <div class="form-control">
    <label for="sortBy">Sort By</label>

    <select
      id="sortBy"
      name="sortBy"
      [(ngModel)]="sortBy"
      (change)="onSortChange()"
    >
      <option value="id">ID</option>
      <option value="name">Name</option>
      <option value="category">Category</option>
      <option value="level">Level</option>
      <option value="createdAt">Created At</option>
    </select>
  </div>

  <div class="form-control">
    <label for="sortDir">Sort Direction</label>

    <select
      id="sortDir"
      name="sortDir"
      [(ngModel)]="sortDir"
      (change)="onSortChange()"
    >
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
</div>
    <div class="filter-actions">
      <button type="button" (click)="applyFilter()">
        Apply Filter
      </button>

      <button type="button" (click)="clearFilters()">
        Clear Filters
      </button>

      <button type="button" (click)="refreshSkills()">
        Refresh From DB
      </button>
    </div>
  </div>

  @if (isLoading()) {
    <p class="loading-message">
      Loading skills from Spring Boot backend...
    </p>
  } @else {
    <p class="result-info">
      Showing {{ skills().length }} skill(s) from MySQL database.
    </p>

    @if (skills().length > 0) {
      <div class="skill-grid">
        @for (skill of skills(); track skill.id; let index = $index) {
          <app-skill-card
            [skill]="skill"
            [index]="index"
            [isDeleting]="deletingSkillId() === skill.id"
            [canManageSkill]="isAdmin()"
            (editSkill)="startEdit($event)"
            (deleteSkill)="deleteSkill($event)"
          >
          </app-skill-card>
        }
      </div>
      <div class="pagination-section">
      <p>
        Page {{ pageNumber() + 1 }} of {{ totalPages() }}
        | Total Records: {{ totalElements() }}
      </p>

      <button
        type="button"
        (click)="goToFirstPage()"
        [disabled]="pageNumber() === 0"
      >
        First
      </button>

      <button
        type="button"
        (click)="goToPreviousPage()"
        [disabled]="pageNumber() === 0"
      >
        Previous
      </button>

      <button
        type="button"
        (click)="goToNextPage()"
        [disabled]="last() || totalPages() === 0"
      >
        Next
      </button>

      <button
        type="button"
        (click)="goToLastPage()"
        [disabled]="last() || totalPages() === 0"
      >
        Last
      </button>
    </div>
    } @else {
      <p class="empty-message">
        No skills found in database for selected filter.
      </p>
    }
  }
</section>